.carrito-container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.item {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.item img {
  width: 120px;
  border-radius: 10px;
}

.cantidad {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.cantidad button {
  background: #8A260F;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.eliminar {
  margin-top: 10px;
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}
